index.html.backup
.vscode/desktop.ini
assets/css/desktop.ini
assets/desktop.ini
assets/img/technos/2/desktop.ini
assets/img/team/desktop.ini
assets/img/portfolio/desktop.ini
assets/img/desktop.ini
assets/img/favicon/desktop.ini
assets/img/portfolio/desktop.ini
assets/css/desktop.ini
